/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');

$grue: #232b35;
$darker-grue: #1a2431;
$dark-grue: #0d151f;
$dark-blue: #233a56; /* #041529; */
$blue: #0b1827 ;
$bright-blue: #3591ff;

// Nunito is beautiful
a, p, h1, h2, h3, h4, h5, h6, small {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}
h1,h2,h3 {
  font-weight: 200;
}

body {
  background-color: $grue;
  font-family: 'Nunito Sans', sans-serif;
}

nav {
  background-color: $blue;
}
.navbar-brand {
  color: $bright-blue;
}

.top-bar, .top-bar ul {
  background-color: $blue;
}
.menu a {
  color: white;
}
.nav-item.active .nav-link, .menu-text {
  color: $bright-blue;
}

// main content
main {
  flex: 1 0 auto;
}

main > header {
  background-image: url('https://media.wired.com/photos/5cd5df1f2948ca2e63b090f0/4:3/w_2400,c_limit/01_SPoW_051119.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  animation: bg-anim;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 0 !important;
  border: none;
}
@keyframes bg-anim {
  from {background-position: 0 0vw;}
  to {background-position: 0 -75vw; }
}
main > header .overlay {
  background-image: linear-gradient(120deg, rgba(11,24,39,1) 31%, rgba(0,0,0,0) 100%), linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%);
  background-size: cover;
  padding: 5rem 3rem;
}
main > header h6 {
  color: $bright-blue;
  font-size: 1.5rem;
}
main > header .page-header {
  font-size: 96px;
  font-weight: 100;
}

article header.introduction {
  background-color: $dark-grue;
}

main .blog-posts {
  max-width: 1000px;
  background-color: $darker-grue;
}

section.post .title small {
  color: grey;
  padding-top: 1.5rem;
}
section.post .img {
  background-position: center;
  background-size: fill;
  min-height: 400px;
  border: 1px solid $dark-blue;
}
section.post .caption {
  font-size: 12px;
  color: grey;
}

footer {
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.5);
  background-color: $dark-grue;
  flex-shrink: none;
}
footer small {
  color: grey;
}
